.title-img {
	background-image: url("/personal_pic.jpg");
	max-width: 2000px;
    height: 825px;
    background-size: 100%;
    color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.myName-title {
	font-size: 50px;
	margin-left: 50%;
	font-family: "Courier", monospace;
}

.about-me-section {
	background-color: white;
	padding-bottom: 60px;

}

.about-me-title {
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
}

.about-me-text {
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
}

.contact-section {
	background-color: grey;
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
}

.contact-title {
	color: #D8CFCD;
	font-size: 40px;
}

.contact-text {
	color: #D8CFCD;
	font-size: 20px;
}

